body{
  position:relative;
  background-color:#000000;
  width:1600px;
  height:900px;
}

img.panf{
  position:absolute;
  top:0px;
  right:0px;
  width:750px;
}

footer{
  position:absolute;
  bottom:10px;
  left:150px;
  color:#FFFFFF;
}
a:link{
  color:#FFFFFF;
}
a:visited{
  color:#AFAFAF;
}

h1{
  position:relative;
  top:230px;
  left:180px;
  color:#FFFFFF;
  font-size:40px;
}

canvas.circle{
  position:absolute;
  top:50px;
  left:100px;
  z-index:3;
}

a.ask{
  position:absolute;
  font-size:45px;
  top:230px;
  left:370px;
  color:#FFFFFF;
  z-index:4;
}

a.video{
  position:absolute;
  font-size:50px;
  top:200px;
  left:1300px;
  color:#FFFFFF;
  z-index:4;
}

img.fes{
  width:300px;
  height:100%;
}

a.form{
  font-size:25px;
}

h2{
  position:absolute;
  left:-100px;
  top:400px;
  font-size:15px;
  transform:rotate(90deg);
  color:#FFFFFF;
}
