body{
  position:relative;
  background-color:#000000;
  width:1600px;
  height:900px;
}

img.panf{
  position:absolute;
  top:0px;
  right:0px;
  width:750px;
}

img.pics{
  position:relative;
  border:1px #FFFFFF solid;
  left:500px;
  top:50px;
  width:50%;
  height:50%;
}

footer{
  position:absolute;
  bottom:10px;
  left:150px;
  color:#FFFFFF;
}
a:link{
  color:#FFFFFF;
}
a:visited{
  color:#AFAFAF;
}

img.fes{
  width:300px;
  height:100%;
}

button.left{
  position:absolute;
  color:#FFFFFF;
  font-size:50px;
  top:400px;
  left:350px;
}

button.right{
  position:absolute;
  color:#FFFFFF;
  font-size:50px;
  top:400px;
  left:1400px;
}

a.gallery{
  font-size:25px;
}

h2{
  position:absolute;
  top:400px;
  left:-100px;
  font-size:15px;
  transform:rotate(90deg);
  color:#FFFFFF;
}
