body{
  position:relative;
  background-color:#000000;
  width:1600px;
  height:900px;
}

img.panf{
  position:absolute;
  top:0px;
  left:1000px;
  height:900px;
}

footer{
  position:absolute;
  bottom:10px;
  left:150px;
  color:#FFFFFF;
}
a:link{
  color:#FFFFFF;
}
a:visited{
  color:#AFAFAF;
}

h1{
  position:relative;
  top:230px;
  left:180px;
  color:#FFFFFF;
  font-size:40px;
}

canvas{
  position:absolute;
  opacity:0.9;
  left:50px;
}
img.fes{
  width:300px;
  height:100%;
}

a.top{
  font-size:25px;
}

h2{
  position:absolute;
  left:-100px;
  font-size:15px;
  transform:rotate(90deg);
  color:#FFFFFF;
}


